## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import pandas as pd
import numpy as np
%tensorflow_version 2.x
import tensorflow as tf

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

prices = pd.read_csv('/content/drive/My Drive/prices.csv', nrows=1000)

### Check all columns in the dataset

In [5]:
prices.shape

(1000, 7)

In [6]:
iris.shape

(150, 6)

In [7]:
prices.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [8]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### Drop columns `date` and  `symbol`

In [9]:
prices.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

In [0]:
prices.drop(['date', 'symbol'], axis = 1, inplace=True)

In [11]:
prices.columns

Index(['open', 'close', 'low', 'high', 'volume'], dtype='object')

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [12]:
# Already considered 1000 records while reading the dataset in the start
prices['volume'] = prices['volume'] / 1000000
prices.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

X = prices.drop('volume', axis=1)
y = prices['volume']
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=.30,random_state=2)

#### Convert Training and Test Data to numpy float32 arrays

In [14]:
train_x.dtypes

open     float64
close    float64
low      float64
high     float64
dtype: object

In [0]:
train_x =np.array(train_x).astype('float32')
test_x = np.array(test_x).astype('float32')
train_y =np.array(train_y).astype('float32')
test_y = np.array(test_y).astype('float32')
actual_prices=tf.cast(y,tf.float32)

In [16]:
train_x.dtype

dtype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer

transformer = Normalizer()
train_x = transformer.fit_transform(train_x)
test_x = transformer.transform(test_x)

In [18]:
train_y.shape

(700,)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
#We are initializing weights and Bias of (Input-Hidden Layer)
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

In [20]:
print(w)
print(b)

tf.Tensor(
[[0.]
 [0.]
 [0.]
 [0.]], shape=(4, 1), dtype=float32)
tf.Tensor([0.], shape=(1,), dtype=float32)

2.Define a function to calculate prediction

In [0]:
@tf.function
def prediction(train_x, w, b):
    y_pred = tf.add(tf.matmul(train_x, w), b)
    return y_pred

3.Loss (Cost) Function [Mean square error]

In [0]:
@tf.function
def loss(y_actual, y_predicted):
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
@tf.function
def train(x, y_actual, w, b, learning_rate=0.01):
    
    # Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        t.watch([w,b])
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    # Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    # Update Weights and Bias
    w = w - learning_rate * dw
    b = b - learning_rate * db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [48]:
for i in range(100):    
    w, b = train(train_x, train_y, w, b)
    print('Current Training Loss on iteration', i, loss(train_y, prediction(train_x, w, b)).numpy())

Current Training Loss on iteration 0 248.06491
Current Training Loss on iteration 1 245.7581
Current Training Loss on iteration 2 243.63223
Current Training Loss on iteration 3 241.6734
Current Training Loss on iteration 4 239.86803
Current Training Loss on iteration 5 238.20386
Current Training Loss on iteration 6 236.67052
Current Training Loss on iteration 7 235.25743
Current Training Loss on iteration 8 233.95468
Current Training Loss on iteration 9 232.7543
Current Training Loss on iteration 10 231.64807
Current Training Loss on iteration 11 230.62857
Current Training Loss on iteration 12 229.68898
Current Training Loss on iteration 13 228.82315
Current Training Loss on iteration 14 228.02501
Current Training Loss on iteration 15 227.28949
Current Training Loss on iteration 16 226.61156
Current Training Loss on iteration 17 225.98685
Current Training Loss on iteration 18 225.41127
Current Training Loss on iteration 19 224.88052
Current Training Loss on iteration 20 224.39154
Current Training Loss on iteration 21 223.94089
Current Training Loss on iteration 22 223.52567
Current Training Loss on iteration 23 223.14311
Current Training Loss on iteration 24 222.79018
Current Training Loss on iteration 25 222.4651
Current Training Loss on iteration 26 222.16548
Current Training Loss on iteration 27 221.88954
Current Training Loss on iteration 28 221.63472
Current Training Loss on iteration 29 221.40031
Current Training Loss on iteration 30 221.18423
Current Training Loss on iteration 31 220.98494
Current Training Loss on iteration 32 220.80147
Current Training Loss on iteration 33 220.6323
Current Training Loss on iteration 34 220.4763
Current Training Loss on iteration 35 220.33253
Current Training Loss on iteration 36 220.20026
Current Training Loss on iteration 37 220.07817
Current Training Loss on iteration 38 219.96571
Current Training Loss on iteration 39 219.86205
Current Training Loss on iteration 40 219.76643
Current Training Loss on iteration 41 219.67847
Current Training Loss on iteration 42 219.59726
Current Training Loss on iteration 43 219.52243
Current Training Loss on iteration 44 219.45354
Current Training Loss on iteration 45 219.39008
Current Training Loss on iteration 46 219.33159
Current Training Loss on iteration 47 219.27762
Current Training Loss on iteration 48 219.22795
Current Training Loss on iteration 49 219.18204
Current Training Loss on iteration 50 219.13982
Current Training Loss on iteration 51 219.10094
Current Training Loss on iteration 52 219.06494
Current Training Loss on iteration 53 219.03203
Current Training Loss on iteration 54 219.00157
Current Training Loss on iteration 55 218.97345
Current Training Loss on iteration 56 218.94759
Current Training Loss on iteration 57 218.92378
Current Training Loss on iteration 58 218.90184
Current Training Loss on iteration 59 218.88164
Current Training Loss on iteration 60 218.86276
Current Training Loss on iteration 61 218.8456
Current Training Loss on iteration 62 218.82977
Current Training Loss on iteration 63 218.81508
Current Training Loss on iteration 64 218.80173
Current Training Loss on iteration 65 218.78929
Current Training Loss on iteration 66 218.77792
Current Training Loss on iteration 67 218.76741
Current Training Loss on iteration 68 218.75775
Current Training Loss on iteration 69 218.74873
Current Training Loss on iteration 70 218.74045
Current Training Loss on iteration 71 218.73277
Current Training Loss on iteration 72 218.72585
Current Training Loss on iteration 73 218.71935
Current Training Loss on iteration 74 218.71364
Current Training Loss on iteration 75 218.70798
Current Training Loss on iteration 76 218.703
Current Training Loss on iteration 77 218.69826
Current Training Loss on iteration 78 218.69388
Current Training Loss on iteration 79 218.68988
Current Training Loss on iteration 80 218.6863
Current Training Loss on iteration 81 218.68285
Current Training Loss on iteration 82 218.67981
Current Training Loss on iteration 83 218.67705
Current Training Loss on iteration 84 218.67444
Current Training Loss on iteration 85 218.67188
Current Training Loss on iteration 86 218.66968
Current Training Loss on iteration 87 218.66762
Current Training Loss on iteration 88 218.6657
Current Training Loss on iteration 89 218.664
Current Training Loss on iteration 90 218.66238
Current Training Loss on iteration 91 218.66093
Current Training Loss on iteration 92 218.65953
Current Training Loss on iteration 93 218.65825
Current Training Loss on iteration 94 218.65706
Current Training Loss on iteration 95 218.65593
Current Training Loss on iteration 96 218.65509
Current Training Loss on iteration 97 218.65422
Current Training Loss on iteration 98 218.6532
Current Training Loss on iteration 99 218.65244

### Get the shapes and values of W and b

In [53]:
w.numpy()

array([[1.3868148],
       [1.391616 ],
       [1.3725047],
       [1.4037081]], dtype=float32)

In [54]:
b.numpy()

array([2.77748], dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [57]:
test_data=train_x[3:4,:]
test_data

array([[0.50063473, 0.5007126 , 0.49557468, 0.50304806]], dtype=float32)

In [58]:
pred=frwrd_pass(test_data,w,b)
pred

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
iris = pd.read_csv('/content/drive/My Drive/Iris.csv')

In [0]:
tf.random.set_seed(42)

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [98]:
iris.shape

(150, 6)

In [99]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int64
dtype: object

In [112]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'species'. 
iris['Species']= label_encoder.fit_transform(iris['Species']) 
  
iris['Species'].unique()

array([0, 1, 2])

### Splitting the data into feature set and target set

In [113]:
X = iris.drop(['Species','Id'] , axis=1)
y = tf.keras.utils.to_categorical(iris.Species, num_classes=3)
y.shape

(150, 3)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
# Initialize Sequential model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(4, input_dim=4, kernel_initializer='normal', activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))

In [0]:
# Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

# Compile the model
model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

### Model Prediction

In [121]:
trainX,testX,trainY,testY=train_test_split(X,y,test_size=.30,random_state=2)

model.fit(trainX, trainY, validation_data=(testX, testY), epochs=40)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 105 samples, validate on 45 samples
Epoch 1/40
105/105 [==============================] - 0s 165us/sample - loss: 0.4365 - accuracy: 0.8190 - val_loss: 0.4271 - val_accuracy: 0.8222
Epoch 2/40
105/105 [==============================] - 0s 120us/sample - loss: 0.4360 - accuracy: 0.8381 - val_loss: 0.4225 - val_accuracy: 0.9778
Epoch 3/40
105/105 [==============================] - 0s 126us/sample - loss: 0.4389 - accuracy: 0.9048 - val_loss: 0.4293 - val_accuracy: 0.7111
Epoch 4/40
105/105 [==============================] - 0s 115us/sample - loss: 0.4341 - accuracy: 0.8286 - val_loss: 0.4221 - val_accuracy: 0.8444
Epoch 5/40
105/105 [==============================] - 0s 111us/sample - loss: 0.4342 - accuracy: 0.8667 - val_loss: 0.4197 - val_accuracy: 0.8667
Epoch 6/40
105/105 [==============================] - 0s 120us/sample - loss: 0.4308 - accuracy: 0.8762 - val_loss: 0.4186 - val_accuracy: 0.8667
Epoch 7/40
105/105 [==============================] - 0s 130us/sample - loss: 0.4311 - accuracy: 0.9048 - val_loss: 0.4177 - val_accuracy: 0.8667
Epoch 8/40
105/105 [==============================] - 0s 118us/sample - loss: 0.4288 - accuracy: 0.8571 - val_loss: 0.4169 - val_accuracy: 0.9778
Epoch 9/40
105/105 [==============================] - 0s 135us/sample - loss: 0.4337 - accuracy: 0.8762 - val_loss: 0.4154 - val_accuracy: 0.9778
Epoch 10/40
105/105 [==============================] - 0s 126us/sample - loss: 0.4299 - accuracy: 0.9333 - val_loss: 0.4146 - val_accuracy: 0.9778
Epoch 11/40
105/105 [==============================] - 0s 112us/sample - loss: 0.4291 - accuracy: 0.9238 - val_loss: 0.4160 - val_accuracy: 0.8444
Epoch 12/40
105/105 [==============================] - 0s 115us/sample - loss: 0.4244 - accuracy: 0.8571 - val_loss: 0.4184 - val_accuracy: 0.8000
Epoch 13/40
105/105 [==============================] - 0s 107us/sample - loss: 0.4237 - accuracy: 0.8476 - val_loss: 0.4133 - val_accuracy: 0.8444
Epoch 14/40
105/105 [==============================] - 0s 108us/sample - loss: 0.4216 - accuracy: 0.8476 - val_loss: 0.4136 - val_accuracy: 0.8444
Epoch 15/40
105/105 [==============================] - 0s 106us/sample - loss: 0.4236 - accuracy: 0.8857 - val_loss: 0.4112 - val_accuracy: 0.8444
Epoch 16/40
105/105 [==============================] - 0s 114us/sample - loss: 0.4212 - accuracy: 0.8476 - val_loss: 0.4101 - val_accuracy: 0.8444
Epoch 17/40
105/105 [==============================] - 0s 111us/sample - loss: 0.4183 - accuracy: 0.8762 - val_loss: 0.4070 - val_accuracy: 0.9111
Epoch 18/40
105/105 [==============================] - 0s 125us/sample - loss: 0.4188 - accuracy: 0.9048 - val_loss: 0.4056 - val_accuracy: 0.9778
Epoch 19/40
105/105 [==============================] - 0s 120us/sample - loss: 0.4215 - accuracy: 0.9333 - val_loss: 0.4098 - val_accuracy: 0.8444
Epoch 20/40
105/105 [==============================] - 0s 111us/sample - loss: 0.4175 - accuracy: 0.8476 - val_loss: 0.4050 - val_accuracy: 0.8667
Epoch 21/40
105/105 [==============================] - 0s 112us/sample - loss: 0.4172 - accuracy: 0.8952 - val_loss: 0.4083 - val_accuracy: 0.8444
Epoch 22/40
105/105 [==============================] - 0s 104us/sample - loss: 0.4167 - accuracy: 0.8667 - val_loss: 0.4063 - val_accuracy: 0.8444
Epoch 23/40
105/105 [==============================] - 0s 113us/sample - loss: 0.4143 - accuracy: 0.8476 - val_loss: 0.4021 - val_accuracy: 0.8667
Epoch 24/40
105/105 [==============================] - 0s 119us/sample - loss: 0.4109 - accuracy: 0.8762 - val_loss: 0.4007 - val_accuracy: 0.8889
Epoch 25/40
105/105 [==============================] - 0s 97us/sample - loss: 0.4118 - accuracy: 0.8762 - val_loss: 0.4140 - val_accuracy: 0.7111
Epoch 26/40
105/105 [==============================] - 0s 113us/sample - loss: 0.4145 - accuracy: 0.8000 - val_loss: 0.4038 - val_accuracy: 0.8444
Epoch 27/40
105/105 [==============================] - 0s 130us/sample - loss: 0.4094 - accuracy: 0.8571 - val_loss: 0.4124 - val_accuracy: 0.7111
Epoch 28/40
105/105 [==============================] - 0s 147us/sample - loss: 0.4115 - accuracy: 0.8190 - val_loss: 0.3995 - val_accuracy: 0.8444
Epoch 29/40
105/105 [==============================] - 0s 131us/sample - loss: 0.4059 - accuracy: 0.8762 - val_loss: 0.3960 - val_accuracy: 0.8889
Epoch 30/40
105/105 [==============================] - 0s 105us/sample - loss: 0.4062 - accuracy: 0.8952 - val_loss: 0.3982 - val_accuracy: 0.8444
Epoch 31/40
105/105 [==============================] - 0s 147us/sample - loss: 0.4041 - accuracy: 0.8667 - val_loss: 0.3939 - val_accuracy: 0.9111
Epoch 32/40
105/105 [==============================] - 0s 139us/sample - loss: 0.4041 - accuracy: 0.8952 - val_loss: 0.3982 - val_accuracy: 0.8444
Epoch 33/40
105/105 [==============================] - 0s 126us/sample - loss: 0.4026 - accuracy: 0.8571 - val_loss: 0.3943 - val_accuracy: 0.8667
Epoch 34/40
105/105 [==============================] - 0s 137us/sample - loss: 0.4019 - accuracy: 0.8857 - val_loss: 0.3958 - val_accuracy: 0.8444
Epoch 35/40
105/105 [==============================] - 0s 127us/sample - loss: 0.4041 - accuracy: 0.8667 - val_loss: 0.3912 - val_accuracy: 0.8667
Epoch 36/40
105/105 [==============================] - 0s 134us/sample - loss: 0.4004 - accuracy: 0.8857 - val_loss: 0.3887 - val_accuracy: 0.9556
Epoch 37/40
105/105 [==============================] - 0s 109us/sample - loss: 0.3988 - accuracy: 0.9238 - val_loss: 0.3970 - val_accuracy: 0.8000
Epoch 38/40
105/105 [==============================] - 0s 137us/sample - loss: 0.3994 - accuracy: 0.8571 - val_loss: 0.3862 - val_accuracy: 0.9778
Epoch 39/40
105/105 [==============================] - 0s 174us/sample - loss: 0.3981 - accuracy: 0.9333 - val_loss: 0.3872 - val_accuracy: 0.8889
Epoch 40/40
105/105 [==============================] - 0s 150us/sample - loss: 0.3980 - accuracy: 0.9048 - val_loss: 0.3842 - val_accuracy: 0.9778

In [122]:
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 4)                 20
_________________________________________________________________
dense_17 (Dense)             (None, 3)                 15
=================================================================
Total params: 35
Trainable params: 35
Non-trainable params: 0
_________________________________________________________________

In [124]:
model.evaluate(testX, testY)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
45/45 [==============================] - 0s 102us/sample - loss: 0.3842 - accuracy: 0.9778

[0.38424985739919876, 0.9777778]

### Save the Model

In [0]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?